Source: klemmbrett
Maintainer: Michael van Bracht <michael@wontfix.org>
Section: python
Priority: optional
Build-Depends: python3-setuptools (>= 0.6b3), python3-all (>= 2.6.6-3), dh-python, debhelper (>= 7.4.3)
Standards-Version: 3.9.1

Package: klemmbrett
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Versatile clipboard manager

